{% raw %}
<div class="col-md-4">
  <h1>Analyze</h1>
  <hr/>

  <form class="form">
    <div class="form-group">
      <select class="form-control"></select>
    </div>
    <div class="form-group">
      <label>
        Brand name:
        <select class="form-control"></select>
      </label>
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Analyze</button>
    </div>
  </form>

</div>
<div class="col-md-8">
  <h1>Analysis Results</h1>
  <hr/>
  {{isAnalysis}}
</div>
{% endraw %}